PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_NOINDEX=true
PUBLIC_SANITY_PROJECT_ID=tftrnrna
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-06-04
SANITY_STUDIO_PROJECT_ID=tftrnrna
SANITY_STUDIO_DATASET=production
