.video-layout-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-container {
    max-height: 720px;
    max-width: 1080px;
}

/* Body text style mute toggle
#mute-toggle {
    height: 3.25rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    font-size: 2.25rem;
    line-height: 1.4;  
    color: var(--body-color);
    padding: 0.125em 0 0 0;
    border-bottom: 0.125em solid currentColor;  
    letter-spacing: normal;
}

#mute-toggle:hover {
    cursor: pointer !important;
    background: var(--body-color);
    color: var(--background-color);
    border-bottom: 0.125em solid var(--body-color);
  }
  */

  #mute-toggle {
    background-color: transparent;
    padding: 0em 0.1em 0 0.1em;
    display: flex;
    align-items: center;
    margin: 0 auto;
    appearance: none;
    border: none;
    font-size: var(--font-size);
    color: var(--body-color);
    letter-spacing: normal;
    text-transform: uppercase;
}

#mute-toggle:hover {
    cursor: pointer !important;
    background: var(--body-color);
    color: var(--background-color);
  }